#VS Generated extensions
*.vcxproj
*.sln

#Cache
**/__pycache__/**

#Build Folders
Build
Saved
.vs
Tools/*/bin/*
Tools/*/obj/*

#Local Environments
.venv

#Built scripts
**/python*/Lib
**/python*/Scripts
*.debug

#Data Folders
Data/*